@using Sellorio.Blazor.Components.Layout
@inherits LayoutComponentBase

<AoPageLayout ApplicationName="SRSly" NoPadding>
    <AoCenter Horizontal Vertical>
        @Body
    </AoCenter>
</AoPageLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
