@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <p>You are signed in as @context.User.Identity?.Name.</p>
        <p><a href="/profile">Go to the protected profile page</a></p>
        <p><a href="/account/logout">Sign out</a></p>
    </Authorized>
    <NotAuthorized>
        <p>You are not signed in.</p>
        <p><a href="/account/login">Sign in</a></p>
    </NotAuthorized>
</AuthorizeView>
